/*#box{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: antiquewhite;
    border: 1px solid black;
}*/
.content{
    color: brown;
}
.newclass{
    background-color: aqua;
}